﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true"
    CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <h2>
        About
    </h2>
    <p>
        Put content here.
    </p>
</asp:Content>
