﻿<%@ Page  Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true"
    CodeFile="AdminLogin.aspx.cs" Inherits="AdminLogin" %>



<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">

    <form id="form1" >
    <div style="height: 100%; width: 100%; background-color: #808080; height: 115px; left: -20px;">
    
        &#39;<br />
    
        <table style="width:29%; margin-left: 482px; margin-top: 175px; background-color: #000000; color: #FFFFFF;" 
            align="center">
            <tr>
                <td class="style2" align="center" colspan="2" style="background-color: #333333">
                    <asp:Label ID="Label1" runat="server" Text="Adminstration Login"></asp:Label>
                </td>
            </tr>
            <tr>
                <td class="style1">
                    <asp:Label ID="Label2" runat="server" Text="User id:"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="style1">
                    <asp:Label ID="Label3" runat="server" Text="Password:"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server" TextMode="Password"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="style1" align="center" colspan="2">
                    <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Login" 
                        BackColor="#66FF33" BorderColor="#66FF33" />
                </td>
            </tr>
        </table>
    
    </div>
    </form>
    <div style="background-color: #6600FF; height: 95px; margin-top: 414px;">
    </div>


</asp:Content>