﻿<%@ Page  Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true"
    CodeFile="feedback.aspx.cs" Inherits="feedback" %>



<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">


    <form id="form1" >
    <div>
    
    </div>
    <table style="width:100%;">
        <tr>
            <td class="style1">
                <asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                <asp:Label ID="Label1" runat="server" Text="User id:" ForeColor="#FF3300"></asp:Label>
            </td>
            <td>
                <asp:TextBox ID="id" runat="server"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                <asp:Label ID="Label3" runat="server" Text="Feed back:" ForeColor="#FF3300"></asp:Label>
            </td>
            <td>
                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                <asp:Label ID="Label5" runat="server" Text="Date:" ForeColor="#FF3300"></asp:Label>
            </td>
            <td>
                <asp:TextBox ID="date" runat="server"></asp:TextBox>
                <asp:CalendarExtender ID="date_CalendarExtender" runat="server" 
                    Enabled="True" TargetControlID="date">
                </asp:CalendarExtender>
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td>
                <asp:Button ID="Button1" runat="server" Text="Submit" onclick="Button1_Click" 
                    Height="24px" />
            </td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    
    </div>
    </form>
    <div style="background-color: #6600FF; height: 95px; margin-top: 414px;">
    </div>

</asp:Content>