﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <table style="width: 100%;">
    <tr>
        <td style="width: 406px; height: 27px">
            </td>
        <td style="width: 838px; height: 27px">
            </td>
        <td style="height: 27px">
            &nbsp;</td>
    </tr>
    <tr>
        <td style="width: 406px">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/image/Cochin - Kochi k.jpg" />
        </td>
        <td style="width: 838px">
            <asp:Panel ID="Panel1" runat="server" ForeColor="#FF3300">
                welcome to Indian tourism
                <br />
                <br />
                We Provide every information regarding India and topmost favourite Places of 
                india.<br /> We will Provide you Packages and will help you to manage your tour 
                with all comforts and luxury.<br />
                <br />
                <br />
                <br />
            </asp:Panel>
        </td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td style="width: 406px">
            &nbsp;</td>
        <td style="width: 838px">
            <asp:Panel ID="Panel2" runat="server" ForeColor="#FF3300">
                Enjoy the the india&#39;s beautiful places with us.
            </asp:Panel>
        </td>
        <td>
            &nbsp;</td>
    </tr>
</table>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Image ID="Image2" runat="server" ImageUrl="~/image/Bagalkot kerla.jpg" />
<asp:Image ID="Image3" runat="server" ImageUrl="~/image/Chettinad k.jpg" />
<asp:Image ID="Image4" runat="server" ImageUrl="~/image/Lakshadweep k.jpg" />
</asp:Content>

