﻿<%@ Page  Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true"
    CodeFile="login.aspx.cs" Inherits="login" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">

    <form id="form1" >
    <div>
    
        <table style="width: 100%;">
            <tr>
                <td>
                    <asp:Label ID="Label1" runat="server" Text="User id:" ForeColor="#FF3300"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="Textbox3" runat="server"></asp:TextBox>
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label2" runat="server" Text="Password:" ForeColor="#FF3300"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox4" runat="server" TextMode="Password"></asp:TextBox>
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td>
                    <asp:Button ID="button" runat="server" onclick="Button1_Click" Text="Login" 
                        Height="23px" />
                </td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
    
    
 </div>
    </form>
    <div style="background-color: #6600FF; height: 95px; margin-top: 414px;">
    </div>


</asp:Content>