﻿<%@ Page  Language="C#" MasterPageFile="~/Master1.master" AutoEventWireup="true"
    CodeFile="Tourbooking.aspx.cs" Inherits="Tourbooking" %>



<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="head">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">


    <form id="form1" >
    <div>
    
        <table style="width:100%;">
            <tr>
                <td>
                    <asp:ScriptManager ID="ScriptManager1" runat="server">
                    </asp:ScriptManager>
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label1" runat="server" Text="Email:" ForeColor="#FF3300"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Label ID="Label2" runat="server" Text="Tour id:" ForeColor="#FF3300"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr><td class="style1">
                <asp:Label ID="Label9" runat="server" Text="Reservation of Tour:" 
                    ForeColor="#FF3300"></asp:Label>
                </td>
                <td class="style1">
                <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
            </td>
                    <asp:Label ID="Label3" runat="server" Text="Package"></asp:Label>
            </tr>
            <tr>
            <td>
            <asp:Label ID="Label5" runat="server" Text="Any Medical Condition or Allergy:" 
                    ForeColor="#FF3300"></asp:Label>
            </td>
                <td>
                    <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
                </td>
            </tr>
            <tr>
               <td>
                <asp:Label ID="Label8" runat="server" Text="Date:" ForeColor="#FF3300"></asp:Label>
                </td>
                <td>
                    <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
                    <asp:CalendarExtender ID="TextBox6_CalendarExtender" runat="server" 
                        Enabled="True" TargetControlID="TextBox6">
                    </asp:CalendarExtender>
                </td>
                </tr>
                <td>
                
                <asp:Button ID="Button1" runat="server" onclick="Button1_Click" Text="Login" />
                </tr>
               
        </table>
    
     </div>
    </form>
    <div style="background-color: #6600FF; height: 95px; margin-top: 414px;">
    </div>


</asp:Content>